<form class="pure-form">
    <fieldset>
        <legend>メモの編集</legend>

        <input type="text" placeholder="タイトル">
        <input type="text" placeholder="内容">

        <label for="categories">カテゴリ</label>
        <select id="categories" name="category">
            <option></option>
        </select>
        <button type="submit" class="pure-button pure-button-primary">更新</button>
    </fieldset>
</form>
