<form class="pure-form" action="/create" method="post">
  <fieldset>
    <legend>新しいメモを追加</legend>

    <input type="text" name="title" id="title" placeholder="タイトル">
    <input type="text" name="comment" id="comment" placeholder="内容">

    <label for="categories">カテゴリ</label>
    <select id="categories">
      <option></option>
    </select>

    <button type="submit" class="pure-button pure-button-primary">追加</button>
  </fieldset>
</form>

<div>
  <% @memos.each do |memo| %>

<div class="ui cards">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= memo.title %>
      </div>
      <div class="meta">
        <カテゴリ>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <%= memo.comment %>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button"><a href="#">Edit</a></button>
      <button class="ui button"><a href="#">Delete</a></button>
    </div>
  </div>
  
  <% end %>
  </div>
  
  