<form class="pure-form">
  <fieldset>
    <legend>新しいメモを追加</legend>

    <input type="text" placeholder="タイトル">
    <input type="text" placeholder="内容">

    <label for="categories">カテゴリ</label>
    <select id="categories">
      <option></option>
    </select>

    <button type="submit" class="pure-button pure-button-primary">追加</button>
  </fieldset>
</form>

<div class="ui cards">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <メモ1のタイトル>
      </div>
      <div class="meta">
        <メモ1のカテゴリ>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <メモ1の内容>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button"><a href="#">Edit</a></button>
      <button class="ui button"><a href="#">Delete</a></button>
    </div>
  </div>
  <div class="ui card">
    <div class="content">
      <div class="header">
        <メモ2のタイトル>
      </div>
      <div class="meta">
        <メモ2のカテゴリ>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <メモ2の内容>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button"><a href="#">Edit</a></button>
      <button class="ui button"><a href="#">Delete</a></button>
    </div>
  </div>
  <div class="ui card">
    <div class="content">
      <div class="header">
        <メモ3のタイトル>
      </div>
      <div class="meta">
        <メモ3のカテゴリ>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <メモ3の内容>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button"><a href="#">Edit</a></button>
      <button class="ui button"><a href="#">Delete</a></button>
    </div>
  </div>
</div>